@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0 {
    background: #ffffff11 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-toolbar {
    padding-right: 1em !important;
}

.MuiPaper-elevation.MuiMenu-paper {
    background-color: #ECF3FA;
    color: #6B6D70;
}

.jailal {
    border-right: 3px solid black;
}

.rbc-event {
    background-color: unset !important;
}
.MuiTab-textColorSecondary{

    padding: 0px;
}
.h-full{
    background-image: url("/public/Assets/Images/default.jpeg");
}
.simplebar-scrollbar::before { background-color: AliceBlue !important; opacity: 0.7; }
